body{
  background: 	#4A235A;
}
.father
{
  display: flex;
  justify-content:space-around;
  background:#A04000;
  text-align: center;
  padding:6%;
  margin:5%;
  border:2px solid #ECF0F1;
  border-radius: 5%;
}
.sai
{
  text-align: center;
  background: #2E4053;
  padding: 5%;
  margin:2%;
  border:2px solid #ECF0F1;
  border-radius: 5%;
}
 .kumar
{

  text-align: center;
 background: #2E4053;
  padding: 5%;
    margin:2%;
    border:2px solid #ECF0F1;
border-radius: 5%;
}
.reddy
{

  text-align: center;
background: #2E4053;
  padding:5%;
    margin:2%;
    border:2px solid #ECF0F1;
    border-radius: 5%;
}
img {
  width: 100%;
}
h1{
  color: red;
  font-style: italic;
}
@media screen and (max-width:767px){
  .father{
    flex-wrap:wrap;
  }
  .sai,.kumar,.reddy{
    width:100%;
  }
}
  @media screen  and (min-width:768px)and (max-width:1023px){
    .father{
      flex-wrap:wrap;
    }
    .sai,.kumar,.reddy{
      width:35%;
    }



}
